body {
    padding: 0px;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0 30px 30px 30px; 
     align-items: center;
}



.logo img {
width: auto;
max-width: 90px;
height: auto;
}

.links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 15px;
    
}
.links ul a {
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    
    
}

.links ul li {
display: flex;
   
}

.links a:hover {
  
    color: #3882f6;
}

.container {
     background-color: #1f2937;
     padding: 40px 40px; 
    
}

.body {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;
}
.body img {
width: auto;
max-width: 350px;
height: auto;
}

.body button{
padding: 15px;
color: white;
background-color: #3882f6;
border-radius: 25px;
font-size: 16px;
font-weight: 600;
border-style: none;
}

.body button:hover {
    background-color: #0e68f8;
}

/* .gallery Starts from here */
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}
.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;              
    max-width: 1200px; 
    padding: 10px;
}

.img{
    flex: 1 1 100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img img {
  width: 100%;            
  height: auto;           
  border-radius: 8px;
}

.img p {
   text-align: center;
}

